@import "font.css";
/*
*
* BASE
*
*/

:root {
	font-family: sans-serif;
	--fonce: #005fc8;
	--clair: #00d4ff;
}

html,
body {
	margin: 0;
	padding: 0;
}

/*
*
* NAV
*
*/

.nav {
	background-color: var(--fonce);
	/* position: fixed; */
	width: 100%;
}

ul {
	position: fixed;
}

.nav a {
	color: white;
}

.nav a:hover {
	color: var(--clair);
}

nav li {
	display: inline;
	color: white;
	margin-left: 20px;
	margin-right: 20px;
}

.read-more {
	width: 20vw;
	height: 47px;
	margin-left: 40vw;
	margin-right: 40vw;
	margin-top: 600px;
	line-height: 47px;
	border: 2px solid white;
	border-radius: 15px;
	text-transform: uppercase;
	color: white;
	display: block;
	cursor: pointer;
	font-size: 16px;
	letter-spacing: 1px;
	background: none;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	text-align: center;
}

.read-more:hover {
	color: var(--fonce);
	background: white;
	border: 2px solid white;
}

a,
a:hover,
a:visited,
a:active {
	text-decoration: none;
}

/*
*
* SECTIONS
*
*/

section {
	height: 100vh;
	background-color: var(--clair);
	width: 100%;
}

#accueil {
	background: var(--fonce);
}

#presentation {
	height: 200vh;
	background: var(--fonce);
	background: linear-gradient(180deg, var(--fonce) 0%, var(--clair) 100%);
}

footer {
	background-color: var(--fonce);
	height: 10vh;
	width: 100%;
}

#presentation div {
	width: 100%;
	justify-content: center;
	text-align: center;
	padding: 40px;
}

.half {
	height: 90vh;
}

#phase-patrick-miguel div,
#phase-apnee div {
	display: inline;
}

div * {
	color: white;
}

/*
p frère adjacent de div
*/
div + p {
	margin-top: 100px;
}

/*
*
* ESPACEMENT DANS LA SECTION PRESENTATION
*
*/
